.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: goldenrod;
}

p {
  font-size: 2rem;
  color: goldenrod;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn {
  padding: 10px 20px;
  background-color: goldenrod;
  color:white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family:  cursive; 
}
.conti{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


.btn:hover {
  background-color: #aaa;
  color: black;
}

 .btn:active {
  background-color: lightblue;
  color: black;}
